body {
  position: relative;
  top: 40px;
  background-color: rgb(146, 146, 241);
  font-family: "Open Sans";
  transform: scale(1.1);
}

#toDo {
  font-size: 45px;
}

#input {
  position: relative;
  left: 3px;
  width: 350px;
  height: 30px;
  margin-bottom: 20px;
  border: 1px black solid;
  top: -22px;
}

#submit {
  position: relative;
  left: -2px;
  color: white;
  background-color: rgb(40, 40, 41);
  height: 34px;
  width: 90px;
  top: -22px;
}

#submit:hover {
  background-color: rgb(43, 131, 51);
}

#mainDiv {
  text-align: center;
}

#ul {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 100%;
  text-align: center;
  align-items: center;
  margin: auto;
  padding: 0;
}

#undo:hover {
  color: red;
}

#delete:hover {
  color: red;
}

#edit:hover {
  color: rgb(255, 153, 0);
}

#confirm:hover {
  color: green;
}

#check:hover {
  color: green;
}

#confirmAfter {
  text-decoration: line-through;
}

#task {
  text-align: left;
  margin-left: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  border: solid 1px black;
  word-break: break-all;
}

#task:nth-of-type(even) {
  background-color: rgb(194, 194, 241);
}

#task:nth-of-type(odd) {
  background-color: rgb(178, 178, 253);
}

#edit {
  position: absolute;
  left: 82%;
  text-align: right;
  justify-content: right;
}

#delete {
  position: absolute;
  left: 88%;
  text-align: right;
  justify-content: right;
}

#undo {
  position: absolute;
  left: 88%;
  text-align: right;
  justify-content: right;
  display: none;
}

#confirm {
  position: absolute;
  left: 94%;
  text-align: right;
  justify-content: right;
}

#check {
  position: absolute;
  left: 3%;
  text-align: right;
  justify-content: right;
}

#listDiv {
  position: relative;
  display: block;
  text-align: center;
  width: 490px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  left: -22px;
}

#hr {
  border: 0.8px black solid;
  position: relative;
  top: -20px;
  width: 430px;
}

h3 {
  position: relative;
  top: -22px;
}

#completedList {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 100%;
  text-align: center;
  align-items: center;
  margin: auto;
  padding: 0;
  padding-bottom: 50px;
}

#completedTitle {
  position: relative;
  text-align: center;
  left: 17px;
}

#clear:hover {
  background-color: rgb(229, 65, 65);
}

#clear {
  display: none;
  position: relative;
  color: white;
  background-color: rgb(40, 40, 41);
  height: 34px;
  width: 90px;
  margin-top: 15px;
  left: 21px;
}